[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
# TODO: set to 120
max_line_length = off
tab_width = 4
ij_continuation_indent_size = 4

[*.{kt,kts}]
ij_kotlin_imports_layout=*
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

#
# ktlint specific options
#

# allow test methods with back ticked names to be longer than the line limit
ktlint_ignore_back_ticked_identifier = true
# allow composable functions to be capitalized
ktlint_function_naming_ignore_when_annotated_with = Composable
#
# ktlint disabled rules
#
ktlint_standard_annotation = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_binary-expression-wrapping = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_function-signature = disabled
