body, input {
    font-family: "Helvetica Neue",helvetica,sans-serif;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4 {
    font-family: "Helvetica Neue",helvetica,sans-serif;
    line-height: normal;
    font-weight: bold;
    color: #283237;
}

.md-typeset a {
    color: #3375b8;
}

:root {
  --md-primary-fg-color:        #283237;
  --md-primary-fg-color--light: #283237;
  --md-primary-fg-color--dark:  #283237;

  --md-primary-accent-color:              #3375b8;
  --md-primary-accent-color--transparent: #3375b8;
}
