name: Build

on:
    push:
        branches:
            - "**"
    pull_request:

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.1

            - name: Install JDK
              uses: actions/setup-java@v5.2.0
              with:
                  distribution: zulu
                  java-version: 24

            - uses: gradle/actions/setup-gradle@v5.0.0
              with:
                  validate-wrappers: true

            - name: Install Android SDK
              run: ./.github/android-sdk.sh

            - name: Lint check with Ktlint
              run: ./kotlinw scripts/ktlint.main.kts

            - name: Build with Gradle
              run: ./gradlew build --stacktrace
