name: Build

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v3

      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 19

      - name: Install Android SDK
        run: ./.github/android-sdk.sh

      - uses: gradle/actions/setup-gradle@v3

      - name: Lint check with Ktlint
        run: ./kotlinw .kts/ktlint.main.kts

      - name: Build with Gradle
        run: ./gradlew build buildHealth --stacktrace
