name: Build iOS

on:
  push:
  pull_request:

jobs:
  build:
    name: Build default scheme using any available iPhone simulator
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Install JDK
        uses: actions/setup-java@v5.2.0
        with:
          distribution: zulu
          java-version: 24

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: '26.2'

      - name: Prepare and open Simulator
        run: |
          xcrun simctl create iphone-16-pro "iPhone 16 Pro"
          xcrun simctl boot iphone-16-pro
          open /Applications/Xcode.app/Contents/Developer/Applications/Simulator.app

      - name: Build
        uses: sersoft-gmbh/xcodebuild-action@v4.0.0
        with:
          project: sample/ios/ios.xcodeproj
          scheme: ios
          action: build
          sdk: iphonesimulator
          destination: platform=iOS Simulator,name=iphone-16-pro
          configuration: Debug
          build-settings: CODE_SIGNING_REQUIRED=NO
