name: Publish Snapshot

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  publish:

    runs-on: macos-latest
    if: github.repository == 'freeletics/flowredux'

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0

      - name: Install JDK
        uses: actions/setup-java@v5.0.0
        with:
          distribution: zulu
          java-version: 24

      - name: Install Android SDK
        run: ./.github/android-sdk.sh

      - name: Set version for main
        if: ${{ github.ref_name == 'main' || startsWith(github.ref, 'refs/tags/') }}
        run: |
          echo "ORG_GRADLE_PROJECT_VERSION_NAME=$(git describe --tags --abbrev=0 | awk -F. '/[0-9]+\./{$NF++;print}' OFS=.)-SNAPSHOT" >> $GITHUB_ENV

      - name: Set version for branch
        if: ${{ github.ref_name != 'main' && !startsWith(github.ref, 'refs/tags/') }}
        run: |
          echo "ORG_GRADLE_PROJECT_VERSION_NAME=${{ github.ref_name }}-SNAPSHOT" | sed 's#/#-#g' >> $GITHUB_ENV

      - uses: gradle/actions/setup-gradle@v5.0.0

      - name: Publish
        run: ./gradlew publish
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.CENTRAL_PORTAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.CENTRAL_PORTAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.MAVEN_SIGNING_PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.MAVEN_SIGNING_PASSWORD }}
        if: "${{ env.ORG_GRADLE_PROJECT_mavenCentralUsername != '' }}"
