name: Publish Docs

on:
  push:
    branches:
      - main

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: 11

      - name: Install Android SDK
        run: ./.github/android-sdk.sh

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install MkDocs Material
        run: pip install mkdocs-material

      - name: Build docs
        run: ./gradlew dokkaHtml

      - name: Copy docs
        run: |
          cp README.md docs/index.md
          mkdir -p docs/API/dsl
          cp -R flowredux/build/dokka/html/. docs/API/dsl
          mkdir -p docs/API/compose
          cp -R compose/build/dokka/html/. docs/API/compose


      - name: Deploy MkDocs
        run: |
          git fetch origin gh-pages:gh-pages
          mkdocs gh-deploy --force
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
